<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Edit Pattern</h1>
  </div>

  <div class="panel-body">
    <%= render 'form', pattern: @pattern %>
  </div>

  <div class="panel-footer">
    <%= link_to 'Show', @pattern, class: "btn btn-default" %> |
    <%= link_to 'Back', patterns_path, class: "btn btn-default" %>
  </div>
</div>
